// Reusable components
@use "variables" as v;

.btn-custom {
  background-color: v.$primary-color;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: darken(v.$primary-color, 10%);
  }
}


