// Layout: header, footer, nav
@use "variables" as v;

body {
  background-color: v.$light-bg;
}

.navbar {
  background-color: v.$dark-bg;
}

footer {
  background-color: v.$dark-bg;
  color: white;  
  padding: 1rem;
  text-align: center;
}


